.radio-div {
    flex-wrap: wrap;
    padding: 180px;
}

.selectPlan {
    font-size: larger;
    color: royalblue;
}

.selectTitle {
    flex-wrap: wrap;
    padding: 10px;
}

.radio {
    margin: 30, 5, 0, 0;
    font-size: large;
}

.Select {
    font-size: large;
    padding: 10px;
}

.Title {
    flex-wrap: wrap;
    padding: 180px;
    font-size: xx-large;
    color: blue;
}

.TestSuit {
    background-color: beige;
    scroll-behavior: unset;
    border: khaki;
}

.TestPoint {
    border-left: solid;
    background-color: ivory;
    scroll-behavior: unset;
}

.MainTableDiv {
    border-top-style: groove;
    border-color: rosybrown;
}

.PlainMainInfo {
    font-size: medium;
}

.myUL {
    margin: 0;
    padding: 0;
}

.caret {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.caret::before {
    content: "\27A4";
    color: gold;
    display: inline-block;
    margin-right: 6px;
}

.testClass {
    cursor: pointer;
}

.testClass::before {
    content: "\0372";
    color: red;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}

.testLableInfo {
    font-size: medium;
    color: black;
    padding-right: 5px;
}

.testInfo {
    width: auto;
    font-size: medium;
    color: blue;
    padding-right: 15px;
}

.suitLable {
    font-size: medium;
    color: black;
    padding-right: 5px;
}

.suitInfo {
    width: auto;
    font-size: medium;
    color: blue;
    padding-right: 15px;
}

.planeInfo {
    font-size: large;
    padding-right: 20px;
}

.planeLable {
    color: cornflowerblue;
    font-size: large;
    padding-right: 5px;
}

.ExcellButton {
    cursor: pointer;
    padding: 100;
    display: inline-block;
    font-size: larger;
    color: green;
}

.ExcellButton1 {
    cursor: pointer;
    padding: 100;
    display: inline-block;
    font-size: larger;
    color: green;
}


/* .imgExcell { */

.imgX {
    margin-left: 5px;
    width: 18px;
    height: 18px;
}

.graphLabels {
    color: blue;
    font-size: x-large;
    vertical-align: text-top;
    text-align-last: center;
}

.analyzingGif {
    position: absolute;
    height: 100px;
    width: 100px;
    left: 40%;
    top: 50%;
}

.scroller {
    overflow: "auto";
    vertical-align: "top"
}

.sidBySide {
    float: left;
    width: 30%;
    height: auto;
}